*~
.directory
.DS_Store
log
log/*.log
tmp/**/*
tmp/*
db/data.yml
config/database.yml
config/redis.yml
db/*.sqlite3
db/schema.rb
db/*.zip
test/rails_root/log/*.log
doc
coverage
coverage.data
hudson
.svn/
.loadpath
pkg
*.kdevses
public/images/active_scaffold
public/stylesheets/active_scaffold
public/javascripts/active_scaffold
public/images/calendar_date_select
public/stylesheets/calendar_date_select/
public/javascripts/calendar_date_select/
zzz
public/clip
public/sitemaps

doc/diagrams/*
gp_notes
config/redis.yml
