#search-results-panel {
  top: 128px; }

.page-header h1 {
  padding: 20px 30px 30px;
  position: relative;
  left: 30px; }
.page-header .app-logo {
  position: relative;
  z-index: 10;
  float: left;
  height: 100px;
  width: 100px;
  top: 2px;
  left: 4px; }
  .page-header .app-logo a {
    text-decoration: none;
    border: 0 none; }

.section.with-flash.content {
  padding: 0px; }

.aside {
  background-color: #bbe2f6; }
  .aside ul {
    list-style: none; }
    .aside ul li {
      margin: 0px; }
      .aside ul li h4 {
        margin: 0px; }
  .aside .section.part.current {
    color: #bbe2f6;
    background-color: #4b2410;
    font-weight: bold; }
    .aside .section.part.current a {
      color: #bbe2f6;
      background-color: #4b2410;
      font-weight: bold; }
      .aside .section.part.current a:hover {
        background-color: #6d4632; }
  .aside .section.upload.current {
    border: 1px solid;
      border-color: #4b2410; }
  .aside a {
    color: #4b2410;
    background-color: #bbe2f6;
    display: block;
    padding: 2px; }
    .aside a:hover {
      background-color: #ccf3ff; }
  .aside .card {
    background-color: #ccf3ff; }

.card .picture {
  position: relative;
  float: left;
  z-index: 10; }
.card .text {
  position: relative;
  left: 10px; }

.parent-link {
  color: white;
  background-color: #242e42;
  border: medium none;
  padding: 3px 13px 5px;
  font-size: 120%; }

.content-header .parent-link {
  position: relative;
  z-index: 5;
  left: -42px;
  margin-right: 10px; }

.pagination {
  font-size: 120%;
  display: block;
  border: medium solid aliceBlue;
  padding: 4px;
  margin-left: auto;
  margin-right: auto; }
  .pagination .disabled {
    color: #777777; }
  .pagination .disabled.prev_page {
    color: #777777; }
  .pagination .disabled.next_page {
    color: #777777; }
  .pagination .prev_page {
    color: blue; }
  .pagination .next_page {
    color: blue; }
  .pagination a {
    padding: 4px 8px;
    text-decoration: underline;
    font-weight: bold; }
  .pagination .current {
    padding: 4px 8px;
    color: red;
    font-weight: bold; }
