html, body {
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #a19d9a; }

.app-logo {
  border: 0; }
  .app-logo img {
    border: 0;
    height: 90px;
    background: none repeat scroll 0 0 #1582ab; }

.page-header .navigation.main-nav li.current a {
  background: none repeat scroll 0 0 #2aa1cc;
  border: none;
  color: white; }
.page-header .navigation.main-nav a {
  padding-bottom: 0;
  background: #1582ab;
  text-decoration: none;
  color: white;
  height: 23px; }
.page-header .navigation.main-nav a:hover {
  background: none repeat scroll 0 0 #2aa1cc; }

h1, h2, h3 {
  color: #3e3530;
  font-weight: normal;
  margin: 0;
  padding: 0; }

.section {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-top: 5px;
  padding-bottom: 15px; }
  .section a.more {
    margin: 0;
    padding: 0;
    background-image: url("../images/arrow-left.png") no-repeat; }

.section h3 {
  font-size: 1.6em;
  height: 38px;
  letter-spacing: -0.5px; }
.section .empty-collection-message {
  font-style: italic;
  margin-bottom: 20px; }

.main-content {
  border: 0; }
  .main-content .content-body {
    border-top: none;
    #border-bottom: 1px solid #3e3530; }

.content-header {
  #border-top: 1px solid #3e3530;
  border-bottom: 1px solid #3e3530; }

#search-results-panel {
  top: 128px; }

.page-header {
  background: none;
  height: 125px;
  background: #1582ab;
  border-bottom: 8px solid #2aa1cc; }
  .page-header h1 {
    padding: 20px 30px 30px;
    left: 30px;
    text-decoration: none; }
  .page-header .app-logo {
    float: left;
    width: 100px;
    left: 4px;
    border: 0; }
    .page-header .app-logo a {
      text-decoration: none;
      border: 0 none; }

.section.with-flash.content {
  padding: 0px; }

.aside {
  background-color: white; }
  .aside ul {
    list-style: none; }
    .aside ul li {
      margin: 0px; }
      .aside ul li h4 {
        margin: 0px; }
  .aside .section.part.current {
    color: white;
    background-color: #4b2410;
    font-weight: bold; }
    .aside .section.part.current a {
      color: white;
      background-color: #4b2410;
      font-weight: bold; }
      .aside .section.part.current a:hover {
        background-color: #6d4632; }
  .aside .section.upload.current {
    border: 1px solid;
      border-color: #4b2410; }
  .aside a {
    color: #4b2410;
    background-color: white;
    display: block;
    padding: 2px; }
    .aside a:hover {
      background-color: white; }
  .aside .card {
    background-color: white; }

.card .picture {
  float: left;
  z-index: 10; }
.card .text {
  left: 10px; }

.parent-link {
  display: block;
  background-color: transparent;
  border: medium none;
  padding: 3px 0 5px;
  font-size: 100%; }

.content-header {
  border-bottom: none; }
  .content-header .parent-link {
    z-index: 5;
    margin-right: 10px; }
  .content-header a {
    font-weight: normal;
    color: #a19d9a; }
  .content-header a:hover {
    font-weight: normal;
    background-color: transparent;
    text-decoration: underline; }

.pagination {
  font-size: 120%;
  display: block;
  border: medium solid aliceBlue;
  padding: 4px;
  margin-left: auto;
  margin-right: auto; }
  .pagination .disabled {
    color: #777777; }
  .pagination .disabled.prev_page {
    color: #777777; }
  .pagination .disabled.next_page {
    color: #777777; }
  .pagination .prev_page {
    color: blue; }
  .pagination .next_page {
    color: blue; }
  .pagination a {
    padding: 4px 8px;
    text-decoration: underline;
    font-weight: bold; }
  .pagination .current {
    padding: 4px 8px;
    color: red;
    font-weight: bold; }

#control_overlay {
  background-color: black; }

#calendar-view .highlight {
  background-color: #ff7777; }
#calendar-view .entry {
  background-color: LightPink;
  color: black;
  padding-left: 2px;
  cursor: default; }
#calendar-view .fleet {
  background-color: CornFlowerBlue;
  color: white;
  padding-left: 2px;
  cursor: default; }
#calendar-view .editable .entry {
  cursor: move; }
  #calendar-view .editable .entry span {
    cursor: text; }
#calendar-view .editable .fleet {
  cursor: move; }
#calendar-view .modal {
  background-color: white;
  padding: 10px; }

#fleet-management .enrollment {
  padding: 0 2px;
  margin: 3px 0; }
#fleet-management .enrollments {
  border: 1px dotted #aaaaaa;
  padding: 7px 0; }
  #fleet-management .enrollments .item {
    cursor: default; }
  #fleet-management .enrollments .editable {
    cursor: move; }
#fleet-management .fleet {
  margin-top: 10px; }
  #fleet-management .fleet .field-list {
    color: inherit; }
    #fleet-management .fleet .field-list th {
      width: 150px; }
    #fleet-management .fleet .field-list th, #fleet-management .fleet .field-list td {
      padding: 0px;
      font-weight: inherit; }
#fleet-management .highlight {
  background-color: #ff7777; }

.header .h4.heading {
  font-size: 60%; }

.aside {
  padding-top: 0; }
  .aside .navigation {
    margin-top: 5px;
    #border-top: 1px solid #3e3530;
    border-bottom: 1px solid #3e3530; }
  .aside .section {
    margin-top: 5px; }

.section .field-list {
  border-bottom: none; }

a {
  border-bottom: none; }

.collection-section a {
  color: #4b2410; }
.collection-section h3 {
  font-size: 1.6em;
  height: 38px;
  letter-spacing: -0.5px;
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 0; }
.collection-section .empty-collection-message {
  margin-top: 0; }

.header .user-name {
  margin-top: 5px;
  font-style: italic; }

.section .field-list {
  color: #4b2410; }
.section .with-flash {
  padding-top: 0; }

a:hover {
  border-bottom: none;
  text-decoration: underline; }

.create-profile {
  float: right;
  height: 25px; }

.show-page .content-header {
  border-bottom: none; }

.index-page .section .header {
  margin-top: 5px; }
  .index-page .section .header .count {
    font-style: italic; }
  .index-page .section .header h2 {
    border-bottom: 0 none;
    font-size: 1.6em;
    height: 38px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-top: 0; }
.index-page .section .content-body {
  border-top: none; }
  .index-page .section .content-body .new-link {
    color: #4b2410; }

.heading a .view {
  font-size: 12px;
  font-weight: normal;
  color: #4b2410; }
.heading a span:hover {
  text-decoration: underline; }

.page-header {
  margin-top: 0; }
  .page-header .navigation {
    margin-top: 0; }
    .page-header .navigation a {
      color: white; }
  .page-header h1 {
    padding: 30px 20px 45px; }

.card.crew .body {
  display: none; }

.content-header .register-button, .content-body .create-profile {
  clear: both;
  float: right;
  font-size: 200%;
  padding: 0;
  z-index: 10;
  width: 240px;
  height: 25px; }
  .content-header .register-button a, .content-body .create-profile a {
    color: white;
    padding: 15px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%; }
    .content-header .register-button a:hover, .content-body .create-profile a:hover {
      text-decoration: none; }

.content-header .register-button {
  margin: 25px 0 0; }
  .content-header .register-button a {
    background-color: #ab1529; }
    .content-header .register-button a:hover {
      background-color: #ab5964; }

.content-body .create-profile {
  margin: 45px 0 0; }
  .content-body .create-profile a {
    background-color: #15aba6; }
    .content-body .create-profile a:hover {
      background-color: #59aba8; }

.content-body .flash {
  display: none; }

.field-list .date-input, .field-list .date-input[type="text"] {
  width: 200px; }

.card.fleet-race .field-list {
  color: inherit; }
  .card.fleet-race .field-list th {
    width: 150px; }
  .card.fleet-race .field-list th, .card.fleet-race .field-list td {
    padding: 0px;
    font-weight: inherit; }

a.signup {
  background-color: #ab1529;
  color: white;
  padding: 10px;
  font-weight: bold; }
  a.signup:hover {
    background-color: #ab5964; }
